main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

main div {
    background-color: #bbbbbb;
    margin: 1em auto;
    padding: .5em;
}

main h2 {
    font-weight: lighter;
    font-size: 1.5em;
    padding-bottom: .5em;
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

main li {
    padding: .5em 1em;
}

main img {
    width: 8em;
    height: 12em;
}

main p {
    font-size: .8em;
}

@media (max-width: 1000px) {
    main {
        font-size: 3.2vw;
    }
}