/* CSS global to the entire site */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	background-color: #dddddd;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	width: 2em;
	height: 2em;
}

header nav {
	display: flex;
	flex-wrap: wrap;
	padding: .2em;
}

header ul {
	list-style: none;
	display: flex;
	height: auto;
}
header li {
	flex: 1;
	padding: 10px 0;
}

header a {
	/* border-radius: .5em; */
	padding: .5em;
	color: black;
}

header a:hover {
	background-color: #777777;
}

main {
	font-size: 32px;
    text-align: center;
	flex: 1;
	overflow-y: auto;
}

footer {
	background-color: #333333;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
}

footer span, footer a {
	color: white;
	padding: .2em .5em;
}

footer img {
	width: 1em;
}

hr {
	display: none;
}

a {
	text-decoration: none;
}

@media (max-width: 1000px) {
	header {
		font-size: 3.25vw;
	}

	footer {
		font-size: 2.45vw;
	}
}